* {
    font-family: Roboto;
    color: white;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    background-color: #3882f6;
    border: none;
    text-align: center;
    border-radius: 12px;
    width: 100px;
    height: 30px;
}



.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 10px 100px 50px 100px;
    gap: 40px;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.header-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.img-divs {
    width: 209.6px;
    height: auto;
}

.img-divs img {
    border: 2px solid blue;
    border-radius: 10%;
}

.img-divs p {
    color: #1f2937;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 80px 100px;
    gap: 0px;
}

.quote-section p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 600px;
    height: auto;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.inner-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    width: 60%;
    height: 80px;
    margin: 50px;
    flex-basis: auto;
    padding: 10px;
}

.inner-div button {
    border: 2px white solid;
    width: 100px;
    height: 35px;
}

#author {
    align-self: flex-end;
    font-size: 22px;
    font-style:normal;
    font-weight: 600;
    color: black;
    width: 500px;
    height: auto;
}


#content-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

